.home-redirect {
    text-decoration: none;
}

.home-redirect p {
    color: red;
    border: 2px solid red;
    padding: 10px;
}

.home-redirect :hover {
    color: white;
    background-color: red;
}
